@import
  'theme-variables',
  'theme-mixins',
  'components/svg-icon',
  'components/svg';

.svg {
    &-icon {
        &-2x svg {
            height: 2rem;
            width: 2rem;
	}

        &-3x svg {
            height: 3rem;
            width: 3rem;
	}

        &-4x svg {
            height: 4rem;
            width: 4rem;
	}
    }
}
