{% extends 'base.html' %}
{% load static %}
{% block script %}<script defer src="{% static 'js/password.js' %}"></script>{% endblock script %}
{% block style_n_title %}<title>Register</title>{% endblock %}

{% block content %}
<form class="from pass" method="POST" action="Error/" autocomplete="off">
	{% csrf_token %}

	<p class="head4">Create Password</p>

	<input class="inputpass" type="password" name="password1" placeholder="* Password">
	<input class="inputpass" type="password" name="password2" placeholder="* Confirm Password">

	<div class="info">
		{{form.errors}}
		{% for m in messages %}
	   		<p id="messages">{{m}}</p>
		{% endfor %}
	</div>
	
	<div class='btnpass'>
		<input class="btnsub" type="submit" value="Register">
	</div>
</form>

{% comment %} {% block navbar %}
		<div class="loginpage">
			Already have an account? <a href="{% url 'login' %}" class="ml-2 text-info"><b>Login</b></a>
		</div>
		<div class="homepage">
    		<a href="{% url 'home' %}">Home</a>
		</div>
{% endblock %} {% endcomment %}

 {% comment %} <script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='Enter password';
	form_fields[2].placeholder='Confirm password';
	for (var field in form_fields){	
		form_fields[field].className += ' form-control'
	}
</script>  {% endcomment %}

{% endblock %}

