
.form-group label {
  font-size: 1rem;
  font-weight: 400;
  color: #3F4254; }

.form-group .invalid-feedback,
.form-group .valid-feedback {
  font-size: 0.9rem;
  font-weight: 400; }

.form-group .form-text {
  font-size: 0.9rem;
  font-weight: 400; }

.form-control[readonly] {
  background-color: #ffffff; }

.form-control.form-control-pill {
  border-radius: 1.5; }
  .form-control.form-control-pill.form-control-sm {
    border-radius: 1.35; }
  .form-control.form-control-pill.form-control-lg {
    border-radius: 1.5; }

.form-control:active, .form-control.active, .form-control:focus, .form-control.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.form-control.form-control-solid {
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
  .form-control.form-control-solid::-moz-placeholder {
    color: #B5B5C3;
    opacity: 1; }
  .form-control.form-control-solid:-ms-input-placeholder {
    color: #B5B5C3; }
  .form-control.form-control-solid::-webkit-input-placeholder {
    color: #B5B5C3; }
  .form-control.form-control-solid:active, .form-control.form-control-solid.active, .form-control.form-control-solid:focus, .form-control.form-control-solid.focus {
    background-color: #EBEDF3;
    border-color: #EBEDF3;
    color: #3F4254;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }

.form-control-iconless {
  background-image: none; }
  .form-control-iconless .form-control {
    background-image: none; }

    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 1.3rem + 2px);
      padding: 0.65rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #3F4254;
      background-color: #ffffff;
      background-clip: padding-box;
      border: 1px solid #E4E6EF;
      border-radius: 0.42rem;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
      @media (prefers-reduced-motion: reduce) {
        .form-control {
          -webkit-transition: none;
          transition: none; } }
      .form-control::-ms-expand {
        background-color: transparent;
        border: 0; }
      .form-control:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #3F4254; }
      .form-control:focus {
        color: #3F4254;
        background-color: #ffffff;
        border-color: #69b3ff;
        outline: 0; }
      .form-control::-webkit-input-placeholder {
        color: #B5B5C3;
        opacity: 1; }
      .form-control::-moz-placeholder {
        color: #B5B5C3;
        opacity: 1; }
      .form-control:-ms-input-placeholder {
        color: #B5B5C3;
        opacity: 1; }
      .form-control::-ms-input-placeholder {
        color: #B5B5C3;
        opacity: 1; }
      .form-control::placeholder {
        color: #B5B5C3;
        opacity: 1; }
      .form-control:disabled, .form-control[readonly] {
        background-color: #F3F6F9;
        opacity: 1; }
    
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    
    select.form-control:focus::-ms-value {
      color: #3F4254;
      background-color: #ffffff; }
    
    .form-control-file,
    .form-control-range {
      display: block;
      width: 100%; }
    
    .col-form-label {
      padding-top: calc(0.65rem + 1px);
      padding-bottom: calc(0.65rem + 1px);
      margin-bottom: 0;
      font-size: inherit;
      line-height: 1.5; }
    
    .col-form-label-lg {
      padding-top: calc(0.825rem + 1px);
      padding-bottom: calc(0.825rem + 1px);
      font-size: 1.08rem;
      line-height: 1.5; }
    
    .col-form-label-sm {
      padding-top: calc(0.55rem + 1px);
      padding-bottom: calc(0.55rem + 1px);
      font-size: 0.925rem;
      line-height: 1.35; }
    
    .form-control-plaintext {
      display: block;
      width: 100%;
      padding: 0.65rem 0;
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.5;
      color: #3F4254;
      background-color: transparent;
      border: solid transparent;
      border-width: 1px 0; }
      .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
        padding-right: 0;
        padding-left: 0; }
    
    .form-control-sm {
      height: calc(1.35em + 1.1rem + 2px);
      padding: 0.55rem 0.75rem;
      font-size: 0.925rem;
      line-height: 1.35;
      border-radius: 0.28rem; }
    
    .form-control-lg {
      height: calc(1.5em + 1.65rem + 2px);
      padding: 0.825rem 1.42rem;
      font-size: 1.08rem;
      line-height: 1.5;
      border-radius: 0.42rem; }
    
    select.form-control[size], select.form-control[multiple] {
      height: auto; }
    
    textarea.form-control {
      height: auto; }
    
    .form-group {
      margin-bottom: 1.75rem; }
    
    .form-text {
      display: block;
      margin-top: 0.25rem; }
    
    .form-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -5px;
      margin-left: -5px; }
      .form-row > .col,
      .form-row > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px; }
    
    .form-check {
      position: relative;
      display: block;
      padding-left: 1.25rem; }
    
    .form-check-input {
      position: absolute;
      margin-top: 0.3rem;
      margin-left: -1.25rem; }
      .form-check-input[disabled] ~ .form-check-label,
      .form-check-input:disabled ~ .form-check-label {
        color: #B5B5C3; }
    
    .form-check-label {
      margin-bottom: 0; }
    
    .form-check-inline {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 0;
      margin-right: 0.75rem; }
      .form-check-inline .form-check-input {
        position: static;
        margin-top: 0;
        margin-right: 0.3125rem;
        margin-left: 0; }
    
    .valid-feedback {
      display: none;
      width: 100%;
      margin-top: 0.25rem;
      font-size: 0.9rem;
      color: #1BC5BD; }
    
    .valid-tooltip {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      display: none;
      max-width: 100%;
      padding: 0.75rem 1rem;
      margin-top: .1rem;
      font-size: 0.9rem;
      line-height: 1.5;
      color: #ffffff;
      background-color: #1bc5bd;
      border-radius: 3px; }
    
    .was-validated :valid ~ .valid-feedback,
    .was-validated :valid ~ .valid-tooltip,
    .is-valid ~ .valid-feedback,
    .is-valid ~ .valid-tooltip {
      display: block; }
    
    .was-validated .form-control:valid, .form-control.is-valid {
      border-color: #1BC5BD;
      padding-right: calc(1.5em + 1.3rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231BC5BD' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.325rem) center;
      background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem); }
      .was-validated .form-control:valid:focus, .form-control.is-valid:focus {
        border-color: #1BC5BD;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(27, 197, 189, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(27, 197, 189, 0.25); }
    
    .was-validated textarea.form-control:valid, textarea.form-control.is-valid {
      padding-right: calc(1.5em + 1.3rem);
      background-position: top calc(0.375em + 0.325rem) right calc(0.375em + 0.325rem); }
    
    
    .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
      color: #1BC5BD; }
    
    .was-validated .form-check-input:valid ~ .valid-feedback,
    .was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
    .form-check-input.is-valid ~ .valid-tooltip {
      display: block; }
    
   
    
    .invalid-feedback {
      display: none;
      width: 100%;
      margin-top: 0.25rem;
      font-size: 0.9rem;
      color: #F64E60; }
    
    .invalid-tooltip {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      display: none;
      max-width: 100%;
      padding: 0.75rem 1rem;
      margin-top: .1rem;
      font-size: 0.9rem;
      line-height: 1.5;
      color: #ffffff;
      background-color: #f64e60;
      border-radius: 3px; }
    
    .was-validated :invalid ~ .invalid-feedback,
    .was-validated :invalid ~ .invalid-tooltip,
    .is-invalid ~ .invalid-feedback,
    .is-invalid ~ .invalid-tooltip {
      display: block; }
    
    .was-validated .form-control:invalid, .form-control.is-invalid {
      border-color: #F64E60;
      padding-right: calc(1.5em + 1.3rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F64E60' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F64E60' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.325rem) center;
      background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem); }
      .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
        border-color: #F64E60;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 78, 96, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(246, 78, 96, 0.25); }
    
    .was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
      padding-right: calc(1.5em + 1.3rem);
      background-position: top calc(0.375em + 0.325rem) right calc(0.375em + 0.325rem); }
    

    
    .was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
      color: #F64E60; }
    
    .was-validated .form-check-input:invalid ~ .invalid-feedback,
    .was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
    .form-check-input.is-invalid ~ .invalid-tooltip {
      display: block; }
    
    
    .form-inline {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .form-inline .form-check {
        width: 100%; }
      @media (min-width: 576px) {
        .form-inline label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-bottom: 0; }
        .form-inline .form-group {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 0; }
        .form-inline .form-control {
          display: inline-block;
          width: auto;
          vertical-align: middle; }
        .form-inline .form-control-plaintext {
          display: inline-block; }
        .form-inline .input-group {
          width: auto; }
        .form-inline .form-check {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: auto;
          padding-left: 0; }
        .form-inline .form-check-input {
          position: relative;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          margin-top: 0;
          margin-right: 0.25rem;
          margin-left: 0; }
       
         }
          
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%; }
  .input-group > .form-control,
  .input-group > .form-control-plaintext,
   {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0; }
    .input-group > .form-control + .form-control,
    .input-group > .form-control-plaintext + .form-control,{
      margin-left: -1px; }
  .input-group > .form-control:focus,
{
    z-index: 3; }

  .input-group > .form-control:not(:last-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .input-group > .form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
.input-group-prepend,
.input-group-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .input-group-prepend .btn,
  .input-group-append .btn {
    position: relative;
    z-index: 2; }
    .input-group-prepend .btn:focus,
    .input-group-append .btn:focus {
      z-index: 3; }
  .input-group-prepend .btn + .btn,
  .input-group-prepend .btn + .input-group-text,
  .input-group-prepend .input-group-text + .input-group-text,
  .input-group-prepend .input-group-text + .btn,
  .input-group-append .btn + .btn,
  .input-group-append .btn + .input-group-text,
  .input-group-append .input-group-text + .input-group-text,
  .input-group-append .input-group-text + .btn {
    margin-left: -1px; }

.input-group-prepend {
  margin-right: -1px; }

.input-group-append {
  margin-left: -1px; }

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.65rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3F4254;
  text-align: center;
  white-space: nowrap;
  background-color: #F3F6F9;
  border: 1px solid #E4E6EF;
  border-radius: 0.42rem; }
  .input-group-text input[type="radio"],
  .input-group-text input[type="checkbox"] {
    margin-top: 0; }
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }